# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
cache: packages
os:
  - linux
addons:
  apt:
    packages:
      - libv8-dev
after_success:
  - Rscript -e 'covr::codecov()'
